<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
<link href='/fullcalendar/fullcalendar.css' rel='stylesheet' />
<link href='/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print' />
<script src='/fullcalendar/fullcalendar.min.js'></script>

<style>
    body { font-size: 62.5%; }
    label, input { display:block; }
    input.text { margin-bottom:12px; width:95%; padding: .4em; }
    fieldset { padding:0; border:0; margin-top:25px; }
    h1 { font-size: 1.2em; margin: .6em 0; }
    div#users-contain { width: 350px; margin: 20px 0; }
    div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
    div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left; }
    .ui-dialog .ui-state-error { padding: .3em; }
    .validateTips { border: 1px solid transparent; padding: 0.3em; }
</style>
<script>
    $(function() {
        var nombre = $( "#nombre" ),
                descripcion = $( "#descripcion" ),
                allFields = $( [] ).add( nombre ).add( descripcion ),
                tips = $( ".validateTips" );

        function updateTips( t ) {
            tips
                    .text( t )
                    .addClass( "ui-state-highlight" );
            setTimeout(function() {
                tips.removeClass( "ui-state-highlight", 1500 );
            }, 500 );
        }

        function checkLength( o, n, min, max ) {
            if ( o.val().length > max || o.val().length < min ) {
                o.addClass( "ui-state-error" );
                updateTips( "Length of " + n + " must be between " +
                        min + " and " + max + "." );
                return false;
            } else {
                return true;
            }
        }

        function checkRegexp( o, regexp, n ) {
            if ( !( regexp.test( o.val() ) ) ) {
                o.addClass( "ui-state-error" );
                updateTips( n );
                return false;
            } else {
                return true;
            }
        }

        $( "#dialog-form" ).dialog({
            autoOpen: false,
            height: 300,
            width: 350,
            modal: true,
            buttons: {
                "Crear tesis": function() {
                    var bValid = true;
                    allFields.removeClass( "ui-state-error" );

                    bValid = bValid && checkLength( nombre, "username", 3, 16 );
                    bValid = bValid && checkLength( descripcion, "username", 6, 80 );


                   // bValid = bValid && checkRegexp( nombre, /^[a-z]([0-9a-z_])+$/i, "El nombre debe estar formada por a-z, 0-9, underscores, begin with a letter." );
                    // From jquery.validate.js (by joern), contributed by Scott Gonzalez: http://projects.scottsplayground.com/email_address_validation/
                   // bValid = bValid && checkRegexp( descripcion,/^[a-z]([0-9a-z_])+$/i, "La descripcion debe estar formada por a-z, 0-9, underscores, begin with a letter.") ;

                    if ( bValid ) {
                        $( "#users tbody" ).append( "<tr>" +
                                "<td>" + nombre.val() + "</td>" +
                                "<td>" + descripcion.val() + "</td>" +
                                "</tr>" );

                        $.ajax({
                            type: 'POST',
                            url: '/tesis/create',
                            data: {'nombre' :nombre.val() ,
                                'descripcion' : descripcion.val(),'user_id' : <%= session[:user_id] %>,'user_rol' :<%= session[:user_rol] %> },
                            success: function(data){
                                //data is whatever you RETURN from your controller.
                                //an array, string, object...something
                            }
                        });


                        $( this ).dialog( "close" );
                    }
                },
                Cancel: function() {
                    $( this ).dialog( "close" );
                }
            },
            close: function() {
                allFields.val( "" ).removeClass( "ui-state-error" );
            }
        });

        $( "#create-user" )
                .button()
                .click(function() {
                    $( "#dialog-form" ).dialog( "open" );
                });

        $( "#create-acta" )
                .button()
                .click(function() {
                    window.location.href = "/reuniones/new";
                });

        $( "#create-compromiso" )
                .button()
                .click(function() {
                    window.location.href = "/compromisos/new";
                });
    });
</script>
<script>

    $(document).ready(function() {

        $('#calendar').fullCalendar({

            editable: false,

            events: "/compromisos/eventos.json",

            eventDrop: function(event, delta) {
               // alert(event.title + ' was moved ' + delta + ' days\n' +
               //         '(should probably update your database)');
            },

            loading: function(bool) {
                if (bool) $('#loading').show();
                else $('#loading').hide();
            }

        });


    });

</script>

</head>
<div class="container">

<div id="dialog-form" title="Crear nueva tesis">
  <p class="validateTips">Todos los campos son necesarios.</p>

  <form>
    <fieldset>
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" class="text ui-widget-content ui-corner-all" />
      <label for="descripcion">Descripcion</label>
      <input type="text" name="descripcion" id="descripcion" value="" class="text ui-widget-content ui-corner-all" />
    </fieldset>
  </form>
</div>


<div class="easyui-layout" style="width:1000px;height:600px;">
  <div data-options="region:'north'" style="height:50px">

  </div>
  <div data-options="region:'south',split:true" style="height:50px;"></div>
  <div data-options="region:'east',split:true" title="Compromisos" style="width:500px;">
    <div id='calendar'></div>
  </div>
  <div data-options="region:'west',split:true" title="Menu del profesor" style="width:130px;">
    <button id="create-user"><img border=0 src="/assets/add-tesis.png">Agregar nueva tesis</button>
    <button id="create-acta"  ><img border=0 src="/assets/acta.png">Crear acta de reunion</button>
    <button id="create-compromiso"  ><img border=0 src="/assets/compromiso.png">Crear compromiso</button>
  </div>
  <div data-options="region:'center',title:'Mis tesis',iconCls:'icon-ok'">

    <div id="users-contain" class="ui-widget">

      <table id="users" class="ui-widget ui-widget-content">
        <thead>
        <tr class="ui-widget-header ">
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Ir a tesis</th>
        </tr>
        </thead>
        <tbody>
        <% @tesis= Tesi.find_all_by_PROFESOR_ID(session[:user_id]) %>
        <% @tesis.each do |tesi| -%>
            <tr>
              <td><%= tesi.NOMBRE %></td>
              <td><%= tesi.DESCRIPCION %></td>
              <td><%= link_to "Ver tesis", :controller => "tesis", :action => "show", :id => tesi.id %></td>
            </tr>
        <% end -%>
        </tbody>
      </table>
    </div>

  </div>
</div>

</div>