<style type="text/css">
    body {
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .sidebar-nav {
        padding: 9px 0;
    }

    @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
            float: none;
            padding-left: 5px;
            padding-right: 5px;
        }
    }
</style>
<div class="container">
  <h1>Registro de compromisos</h1>
  <br><br>
  <div class="hero-unit">
    <%= form_for @compromiso do |t| %>

        <%=  t.label :TITULO %>
        <%= t.text_field :TITULO %>

        <%=  t.label :CONTENIDO %>
        <%= t.text_field :CONTENIDO %>

        <%= t.label :FECHA_CIERRE %>
        <%= t.date_select :FECHA_CIERRE %>

        <%=  t.label :FECHA_COMPROMETIDA %>
        <%= t.date_select :FECHA_COMPROMETIDA %>

        <%= t.hidden_field :FECHA_CREACION,  :value => Date.today %>
        <%= t.hidden_field :TESIS_ID,  :value => "1" %>
        <%= t.hidden_field :ROL,  :value => "profesor" %>

        <br/>
        <%= t.submit "Crear compromiso" %>
        </div>

    <% end %>
    </div>