<%= form_for(@estudiante) do |f| %>
  <% if @estudiante.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@estudiante.errors.count, "error") %> prohibited this estudiante from being saved:</h2>

      <ul>
      <% @estudiante.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :PRIMER_NOMBRE %><br />
    <%= f.text_field :PRIMER_NOMBRE %>
  </div>
  <div class="field">
    <%= f.label :SEGUNDO_NOMBRE %><br />
    <%= f.text_field :SEGUNDO_NOMBRE %>
  </div>
  <div class="field">
    <%= f.label :PRIMER_APELLIDO %><br />
    <%= f.text_field :PRIMER_APELLIDO %>
  </div>
  <div class="field">
    <%= f.label :SEGUNDO_APELLIDO %><br />
    <%= f.text_field :SEGUNDO_APELLIDO %>
  </div>
  <div class="field">
    <%= f.label :CODIGO %><br />
    <%= f.text_field :CODIGO %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
