<body xmlns="http://www.w3.org/1999/html">
<br><br><br><br>

<div align="center">

<div class="container"  >

    <div class="span9">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="hero-unit"><h2>Bienvenido </h2></li>
          <li><h4><%= link_to 'Manejo de Fuentes', '/fuente_bibliograficas' %></li>
          <li><h4><%= link_to 'Manejo de Compromisos', '/compromisos' %></li>
          <li><h4><%= link_to 'Manejo de Entregables', '/archivos' %></li>
          <li><h4><%= link_to 'Manejo de Reuniones', '/reuniones' %></li>
          <li><h4><%= link_to 'Asignación de Tags', '/tag' %></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->

</div>

</div>
<br><br><br><br>
