<%= form_tag( {:action => 'index'}, :multipart => 'true') do  %>

    <div>
      <%= label_tag :name, nil, :for => :name %>
      <div>
        <%= text_field_tag :name %>
      </div>
    </div>

    <div>
      <%= label_tag :path, nil,:for => :path %>
      <div>
        <%= file_field_tag 'dataFile' %>
      </div>
    </div>

    <div>
      <%= label_tag :thesis_id, nil, :for => :thesis_id %>
      <div>
        <%= text_field_tag :thesis_id %>
      </div>
    </div>
    <br>
    <%= submit_tag 'Create'%>

<% end %>