<body xmlns="http://www.w3.org/1999/html">
<br><br><br><br>

<div align="center">

<div class="container"  >

    <div class="span9">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="hero-unit"><h2>Manejo de Fuentes </h2></li>
          <li><h4><%= link_to 'Agregar una Fuente Bibliográfica', '/fuente_bibliograficas/new' %></li>
          <li><h4><%= link_to 'Ver Fuentes Bibliográficas', '/fuente_bibliograficas/list' %></li>
          <li><h4><%= link_to 'Agregar Tema', '/temas/new' %></li>
          <li><h4><%= link_to 'Asignar Tema', '/temas/add' %></li>
          <li><h4><%= link_to 'Obtener Bibliografía', '/fuente_bibliograficas/get_all' %></li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->

</div>

</div>
<br><br><br><br>
